body {
    background-image: url("../images/aboutus.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    color: #FFEA00;
    font-family: "Inknut Antiqua";
    font-size: 40px;
    font-weight: 700;
}

ul {
    display: flex;
    gap: 100px;
    list-style: none;
    padding: 0;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

li a.active {
    color: #FFEA00;
    font-weight: bold;
}

.reservation-btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: white;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
}

.reservation-btn:hover {
    background-color: white;
    color: black;
}

.infoBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px; /* Adjusts space between the two boxes */
    height: 80vh; /* Makes sure they are centered in full viewport height */
}

.meetChef {
    position: relative;
    width: 534px;
    height: 663px;
    flex-shrink: 0;
    background-color: #483b3b;
}

.reviews {
    position: relative;
    width: 534px;
    height: 663px;
    flex-shrink: 0;
    background-color: red;
}

h2 {
    color: white;
    text-align: center;
    font-family: "Inknut Antique";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    padding-top: 66px;
}

.dot {
    height: 125px;
    width: 125px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }

.chefDesc {
    text-align: center;
    color: white;
}

.dot-left {
    height: 125px;
    width: 125px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
  }

.dot-right {
    height: 125px;
    width: 125px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
  }

