@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

body {
    background-image: url("../images/location.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: white;
}

.navbar-nav .nav-link:hover, 
.navbar-nav .nav-link.active {
    color: #FFEA00;
    font-weight: bold;
}

.navbar-brand {
    font-family: "Inknut Antiqua";
}

/* Layout Container */
.locationContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

/* Location Card (Black Box) */
.locationCard {
    background-color: black;
    color: white;
    padding: 30px;
    border: 2px solid #FFEA00;
    width: 450px;
    text-align: center;
    position: relative;
}

/* Yellow Corner Boxes */
.corner {
    width: 25px;
    height: 25px;
    border: 3px solid #FFEA00;
    position: absolute;
}

.top-left { top: -5px; left: -5px; border-right: none; border-bottom: none; }
.top-right { top: -5px; right: -5px; border-left: none; border-bottom: none; }
.bottom-left { bottom: -5px; left: -5px; border-right: none; border-top: none; }
.bottom-right { bottom: -5px; right: -5px; border-left: none; border-top: none; }

/* Title */
.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Address */
.address {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Opening Hours */
.hours-section {
    text-align: left;
}

.hours-header {
    display: inline-block;
    background-color: black;
    border: 2px solid #FFEA00;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hours-table {
    width: 100%;
    border-collapse: collapse;
}

.hours-table td {
    padding: 5px 0;
    font-size: 14px;
}

.hours-table td:first-child {
    font-weight: bold;
}

.map-placeholder {
    width: 450px;
    height: 300px;
    background-color: #826C60;
}