@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

body {
    background-image: url("../images/menu.jpg.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: white;
}

.navbar-nav .nav-link:hover, 
.navbar-nav .nav-link.active {
    color: #FFEA00;
    font-weight: bold;
}

.navbar-brand {
    font-family: "Inknut Antiqua";
}

.menuBody {
    width: 900px;
    height: auto;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
}

.menuContainer {
    text-align: center;
    color: white;
}

.menuHeader {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.mealTime {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    width: 250px;
}

.mealTime:hover {
    background-color: #FFEA00;
}

.mealTime img {
    width: 30px;
    margin-right: 10px;
}

.mealTime h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.mealTime p {
    margin: 0;
    font-size: 14px;
    color: black;
}

.menuItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.menuItem {
    background-color: black;
    border: 2px solid #FFEA00;
    padding: 15px;
    font-size: 16px;
    text-align: left;
    color: white;
    width: 380px;
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.menuTitle {
    font-family: "Inknut Antiqua";
    color: white;
}

.line {
    width: 300px;
    height: 2px;
    background-color: #FFEA00;
}
