@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

body {
    background-image: url("../images/home_background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: white;
}

.navbar-nav .nav-link:hover, 
.navbar-nav .nav-link.active {
    color: #FFEA00;
    font-weight: bold;
}

.navbar-brand {
    font-family: "Inknut Antiqua";
}

.container-fluid {
    height: 100vh;
}

.siteTitle {
    font-family: "Inknut Antiqua";
    font-size: 96px;
}