body {
    background-image: url("../images/home_background.jpg");
}

.header {
    display: flex;        /* Enables flexbox */
    /* justify-content: space-between;  */
    padding: 10px 20px;   /* Adds spacing */
}

.logo {
    flex-shrink: 0;
    color: #FFEA00;
    font-family: "Inknut Antiqua";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

ul {
    display: table;
    margin: 0;
    padding: 0;
    width: 75%; /* Sets how big the nav bar stretches */
  }

li {
    display: table-cell;
    padding: 5px 0; /* Sets the padding from the top */
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 20%;
}
  
a {
    display: inline-block;
    padding: 8px;
    color: white !important;
}

a:link {
    text-decoration:none;
}

a:active {
    color: blue !important;
}

.title {
    font-size: 96px;
    text-align: center;
    color: white;
    font-family: "Inknut Antique";
    font-weight: 700;
    line-height: normal;
}

.slogan {
    font-size: 36px;
    text-align: center;
    color: white;
    font-family: "Inknut Antique";
    font-weight: 700;
    line-height: normal;
}