body {
    background-image: url("../images/home_background.jpg");
}

/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    color: #FFEA00;
    font-family: "Inknut Antiqua";
    font-size: 40px;
    font-weight: 700;
}

ul {
    display: flex;
    gap: 100px;
    list-style: none;
    padding: 0;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

li a.active {
    color: #FFEA00;
    font-weight: bold;
}

.reservation-btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: white;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
}

.reservation-btn:hover {
    background-color: white;
    color: black;
}

.title {
    font-size: 96px;
    text-align: center;
    color: white;
    font-family: "Inknut Antique";
    font-weight: 700;
    line-height: normal;
}

.slogan {
    font-size: 36px;
    text-align: center;
    color: white;
    font-family: "Inknut Antique";
    font-weight: 700;
    line-height: normal;
}